{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'flavours/_flavours.html.j2' as flavour_macros %}

{% set filepath = ('' | currentpath()) %}
{% set parent_path = filepath | dirname %}
{% set branch = parent_path | basename %}
{% set flavours =  ('templates/flavours/' + branch + '/flavours.json') | json_loader(true, {}) %}
{% for f in flavours.values() %}{% do f.update({'repo_branch': branch}) %}{% endfor %}

{% block body %}
<h1>Available Flavours: "{{branch.capitalize()}}" Branch</h1>
Branch: <b>{{branch}}<a href="../index.html">↑</a></b>, Flavours: <b>{{flavours|count}}</b>
{% set format_strings = dict(flavour_macros.format_strings) %}
{% do format_strings.update({'name': '<a href="{value}.html">{value}</a>'}) %}
{% if flavours %}
{{ list_macros.overview_table(flavours.values(), flavour_macros.overview_mappings, format_strings, branch, src_dir=parent_path ) }}
{% else %}
<h2>Error: no Flavours found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
