{% from 'packages/_packages.html.j2' import pkg_link_fmt %}


{% set field_mappings = ( {
    "Name": "name",
    "Description": "description",
    "Image Base Size": "rootfs_size",
    "Architectures": "arches",
    "Package": "package",
    "Sources": "pkgbuild",
    "Branch": "repo_branch",
} ) %}

{% set overview_mappings = dict(field_mappings) %}
{# {% do overview_mappings.update({
    "Distro": "distro",
}) %} #}

{% set repo_branch_fmt = '{ROOTDIR}/flavours/{branch}'%}

{% set format_strings = ({
    "package": '<a href="%s">{value}</a>' % pkg_link_fmt,
    "pkgbuild": '<a href="https://gitlab.com/kupfer/packages/pkgbuilds/-/tree/{branch}/{value}">{value}</a>',
    "rootfs_size": "{value}GB",
    "repo_branch": '<a href="%s/index.html">{branch}</a>' % repo_branch_fmt,
}) %}
