{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'flavours/_flavours.html.j2' as flavour_macros %}

{% set filepath = ('' | currentpath()) %}
{% set branch, name = filepath.rsplit('.html', 1)[0].rsplit('/', 2)[-2:] %}
{% set flavours = (('templates/flavours/%s/flavours.json' % branch) | json_loader(true, {}) ) %}

{% block body %}
<h1>Flavour {{name}}</h1>
Branch: <b><a href="index.html">{{branch}}</a></b>
{{ list_macros.details_list(flavours[name], flavour_macros.field_mappings, flavour_macros.format_strings, branch, flavours[name].arch, src_dir=(filepath|dirname)) }}
{% endblock body %}
