{% extends "_base.html" %}


{% block body %}

{% if not (blog_entries|default(false)) %}
    <h1>ERROR: NO BLOG ENTRIES FOUND!</h1>
    entries: {{(blog_entries|default('UNSET'))}}
{% else %}
    <h2>Blog posts</h2>
    <ul>
        {% for entry in blog_entries %}
        <li>
            <div><a href="{{entry.path_final.lstrip('/')|relpath_to}}">{{ entry.title }}</a> from {{entry.get("date",{}).date()|default("DATE UNKNOWN")}}</div>
            <!--- date: {{entry.date}}, url: {{entry.path_final}} --->
        </li>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}
