{% set navbar_items = {
    'About': '/index.html',
    'Blog': '/blog/index.html',
    'Documentation': 'https://kupfer.gitlab.io/kupferbootstrap',
    'Packages': '/packages/index.html',
    'Flavours': '/flavours/index.html',
    'Devices': '/devices/index.html',
    'Gitlab': 'https://gitlab.com/kupfer',
} %}
{%- set current_file_raw = (''|currentpath()) | lower | trim('/') -%}
{#- replace trailing .md extension with .html -#}
{%- set current_file = current_file_raw if not current_file_raw.endswith('.md') else ((current_file_raw.split('.md'))[0:-1]|join('.md') + '.html') %}
{% set assets = "assets" | relpath_to(current_file|dirname) %}
{%- macro source_link(name, file) -%}
<a href="https://gitlab.com/kupfer/kupfer.gitlab.io/-/blob/main/templates/{{file}}">{{name}}</a>
{%- endmacro -%}

<!-- {{current_file}} -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        <title>
            {% block title_base %}Kupfer{% endblock %}{% block title_extra %}{% if (title_extra|default(false)) %} - {{title_extra}}{% endif %}{% endblock %}
        </title>
        {% endblock %}
        {% block favicon %}
        <link rel="shortcut icon" type="image/png" href="{{assets}}/img/logo/kupfer-white-filled.svg" id="favicon" data-original-href="{{assets}}/img/logo/kupfer-white-filled.svg">
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
        {% block css %}
        <link href="{{assets}}/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{assets}}/css/pygments/pastie.css" rel="stylesheet" type="text/css"/>
        <link href="{{assets}}/css/kupfer.css" rel="stylesheet" type="text/css"/>
        {% endblock %}
        {% block js %}
        <script type="text/javascript" src="{{assets}}/js/jquery-3.6.0.slim.min.js"></script>
        <script type="text/javascript" src="{{assets}}/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="{{assets}}/js/themes.js"></script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </head>
    <body data-theme="dark">
        {% block navbar %}
        <header>
        <nav class="navbar navbar-expand-md navbar-fixed-top" id="mainNav">
            <a class="kupfer-logo navbar-brand text-white font-weight-bold" href="/" title="Home"></a>
            <div class="theme-toggle-container theme-toggle-header">
                <button class="theme-toggle" title="Toggle Light / Dark / Auto color theme">
                <svg class="theme-icon theme-icon-when-auto" ><use href="/assets/img/themes.svg#svg-sun-half"></use></svg>
                <svg class="theme-icon theme-icon-when-dark"><use href="/assets/img/themes.svg#svg-moon"></use></svg>
                <svg class="theme-icon theme-icon-when-light"><use href="/assets/img/themes.svg#svg-sun"></use></svg>
                </button>
                <script type="text/javascript">
                    document.body.dataset.themeChoice = localStorage.getItem("theme") || "auto";
                    setupTheme();
                </script>
            </div>
            <button class="navbar-toggler text-uppercase text-white" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle Navigation</span>
                    <svg class="svg-inline--fa fa-bars fa-w-14" style="width: .875em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                {% block navbar_items %}
                {% for nav_entry, nav_url in navbar_items.items() %}
                    {%- set nav_file = ((nav_url|dirname) if nav_url.endswith('/index.html') else nav_url) | lower | trim('/') -%}
                    {% set relative_url = nav_url if not nav_url.startswith('/') else (nav_url.lstrip('/')|relpath_to(current_file|dirname)) %}
                    <!-- self.Template: {{self._TemplateReference__context.name}} current_file: {{current_file}} md_file: {{md_file|default('none')}} nav_file: {{nav_file}} relative_url: {{relative_url}} -->
                    <li class="nav-item mx-0 mx-lg-1 py-0 py-sm-0 px-1 px-sm-0">
                      <a href="{{relative_url}}"
                        class="nav-link {% if (current_file == relative_url) or (nav_file and current_file.startswith(nav_file)) %}active{% endif %}"
                      > {{nav_entry}} </a>
                    </li>
                {% endfor %}
                {% endblock %}
                </ul>
            </div>
        </nav>
        <div class="bg-kupfer-gradient" style="height: 4px"></div>
        {% endblock %}
        {% block title_header %}
        <div class="container-lg text-center" style="padding: 20px">
          <h2>Kupfer Linux</h2>
          <p class="kupfer-quotes">
            <div class="kupfer-quote">Archlinux for mobile devices</div>
            {% for joke in ["the best pmOS clone you've ever seen", "my phone runs Arch btw", "go > rust"] %}
            <div class="kupfer-quote kupfer-quote-joke">{{joke}}</div>
            {% endfor %}
            <script type="text/javascript">
              var index = 0;
              var quotes = Array.from(document.getElementsByClassName("kupfer-quote"));
              function switchQuote(n) {
                  for (i=0; i < quotes.length; i++) {
                      show = (i == n)
                      hide = (!show && quotes[i].style.display !== "none")
                      quotes[i].style.opacity = show ?  1 : 0;
                      quotes[i].style.display = show ?  "block" : "none";
                  }
                  len = quotes.length;
                  timeout = setTimeout(function(){switchQuote((n+1) % len);}, 47000);
              }
              switchQuote(0);
              // shuffle quotes
              quotes = quotes.sort(() => Math.random() - 0.5);
            </script>
          </p>
          <hr class="border" style="width: 52%"/>
        </div>
        {% endblock %}
        </header>
        <div class="container-lg container-body">
         <!--- begin body --->
        {% block body %}
        {{ md_content_html | default('<!--- DEFAULT BODY BLOCK! SOMETHING SEEMS TO BE WRONG!!! --->', true) }}
        {% endblock %}
        {% block body_suffix %}
        {% endblock %}
        <!--- end body --->
        {% block footer %}
        {% endblock %}
        <p class="footer">
        Page Sources:
        <b>{{source_link("Template", self._TemplateReference__context.name)}}</b>
        {%- if md_file|default(false) %}, <b>{{source_link("Content", md_file)}}</b>{% endif %}
        </div>
    </body>
</html>
