{% extends '_base.html' %}
{% set title = (md_meta|default({})).get('title',[''])[0] %}
{% set author = (md_meta|default({})).get('author',[''])[0] %}
{% set date = (md_meta|default({})).get('date',[(filename_date|default('Unknown'))])[0] %}
{% block title_extra %} - Blog{% if title %} - {{ title }}{% endif %}{% endblock title_extra %}
{% block body %}
    <div class="row">
        {% if author %}<div class="col-sm text-center"><b>Author</b>: {{author}}</div>{% endif %}
        <div class="col-sm text-center"><b>Date</b>: {{date}}</div>
    </div>
    <div class="row"><hr class="border" width="85%"></hr></div>

    <div class="container">
    {% if title %}<p class="row"><h1>{{title}}</h1></p>{% endif %}
    {{md_content_html | default('<h1>RENDERING ERROR: MD CONTENT NOT FOUND!</h1>')}}
    </div>
{% endblock %}
