
{% macro item_value(value, key, format_strings={}, branch=None, arch=None, src_dir=None) -%}
{% set src_dir = src_dir if src_dir else ('' | currentpath() | dirname) %}
{{ format_strings.get(key, "{value}").replace('{ROOTDIR}', '%s' % ('.'|relpath_to(src_dir))).replace('{branch}', '%s' % branch).replace('{arch}', '%s' % arch).replace("{value}", "%s" % (", ".join(value) if value is not string and value is sequence else value)) if value is not in ["", None] else "-"}}
{%- endmacro -%}

{% macro details_list(item, mappings, format_strings={}, branch=None, arch=None, src_dir=None) -%}
    <p>
    <table class="table table-responsive-lg table-striped table-bordered">
    <colgroup><col style="width:30%"><col></colgroup>
    <thead>
        <tr style="display: none;"><th>Field</th><th>Value</th></tr>
    </thead>
    <tbody>
    <tr></tr>
    {% for pretty_name, key in mappings.items() %}
    {% set value = item.get(key, "") %}
    {% set _arch = (arch or item.get("repo_arch", None) or item.get("arch", None) or item.get("ARCH", None) or item.get("arches", [None])[0]) %}
    {% set _branch = (item.get("repo_branch", None) or item.get("branch", None) or branch) %}
    <tr>
        <td><b>{{pretty_name}}</b></td>
        <td>{{ item_value(value, key, format_strings, _branch, _arch, src_dir) }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </p>
{%- endmacro -%}

{% macro overview_table(items, mappings, format_strings={}, branch=None, arch=None, src_dir=None, enable_datatables=false, table_filters=None) -%}
    <table class="table table-responsive-lg table-striped table-bordered">
    {#<colgroup><col style="width:30%"><col></colgroup> #}
    <thead>
        <tr>
        {% for pretty_name in mappings.keys() %}
        <th>{{pretty_name}}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
    {% set _arch = (arch or item.get("repo_arch", None) or item.get("arch", None) or item.get("ARCH", None) or item.get("arches", [None])[0]) %}
    {% set _branch = (item.get("repo_branch", None) or item.get("branch", None) or branch) %}
    <tr>
    {% for key in mappings.values() %}
    {% set value = item.get(key, "") %}
        <td>{{ item_value(value, key, format_strings, _branch, _arch, src_dir) }}</td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if enable_datatables %}
    <script type="text/javascript">
        $(document).ready( function () {
            let collapse = window.innerWidth  < 1200; // bootstrap lg/xl breakpoint
            $('.table').DataTable({
                dom: "flPrtip",
                order: [],
                pageLength: 10,
                searchPanes: {
                    initCollapsed: collapse,
                },
                lengthMenu: [ [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"] ],
                {% if table_filters %}
                columnDefs: [{searchPanes: { show: false }, targets: [
                    {%- for i, key in enumerate(mappings.keys()) -%}
                    {%- if key not in table_filters or not table_filters[key] -%}
                     {{i}},
                    {%- endif -%}{%- endfor -%}
                    ],
                }]
                {% endif %}
            });
        } );
    </script>
    {% endif %}
{%- endmacro -%}

{% macro headerlink(name, id=None, text="#") -%}
<h3 id="{{id or name}}"> {{name}} <a class="headerlink" href="#{{id or name}}" title="Permanent link">{{text}}</a> </h3>
{% endmacro %}
