{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'devices/_devices.html.j2' as device_macros %}
{% block body %}

{% set parent_path = '' | currentpath() | dirname %}
{% set branch = parent_path | basename %}
{% set devices =  ('templates/devices/' + branch + '/devices.json') | json_loader(true, {}) %}
{% for d in devices.values() %}{% do d.update({'repo_branch': branch}) %}{% endfor %}

<h1>Supported Devices</h1>
Branch: <b>{{branch}}<a href="../index.html">↑</a></b>, Devices: <b>{{devices|count}}</b>
{% set format_strings = dict(device_macros.format_strings) %}
{% do format_strings.update({'name': '<a href="{value}.html">{value}</a>'}) %}
{% if devices %}
{{ list_macros.overview_table(devices.values(), device_macros.overview_mappings, format_strings, branch, src_dir=parent_path) }}
{% else %}
<h2>Error: no devices found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
