{% extends '_generated.html.j2' %}
{% import '_lists.html.j2' as list_macros %}
{% import 'devices/_devices.html.j2' as device_macros %}

{% set branches = {} %}
{% set devices = [] %}
{% for branch in ['dev', 'main'] %}
{% do branches.update({
    branch: ('templates/devices/%s/devices.json' % branch) | json_loader(true, {})
}) %}
{% if branches[branch] %}{% for dev in branches[branch].values() %}{% do dev.update({'repo_branch': branch}) %}{% do devices.append(dev) %}{% endfor %}{% endif %}
{% endfor %}

{% block body %}
<h1>Supported Devices</h1>
<b>By branch:</b>
<ul>
{% for branch in branches|sort %}
  <li><a href="{{'devices'|relpath_to}}/{{branch}}/index.html">{{branch}} branch</a>: {{branches[branch]|count}} devices</li>
{% endfor %}
</ul>
{% set format_strings = dict(device_macros.format_strings) %}
{% do format_strings.update({'name': '<a href="{branch}/{value}.html">{value}</a>'}) %}
{% if devices %}
{{ list_macros.overview_table(devices, device_macros.overview_mappings, format_strings, branch, src_dir=(''|currentpath()|dirname)) }}
{% else %}
<h2>Error: no devices found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
