{% extends '_generated.html.j2' %}
{% import 'packages/_packages.html.j2' as package_macros %}

{% set parent_path = '' | currentpath() | dirname %}
{% set arch = parent_path | basename %}
{% set branch = parent_path | dirname | basename %}
{% set packages = ('templates/%s/repos.json' % parent_path) | json_loader(true, {}) %}
{% set stats = ('templates/%s/stats_repos.json' % parent_path) | json_loader(true, {}) %}

{% block body %}
<h1>Branch "{{branch.capitalize()}}", {{arch}} Packages</h1>
Branch: <b><a href="{{('packages/%s'%branch)|relpath_to}}/index.html">{{branch}}</a></b>, Arch: <b>{{arch}}</b>, {{packages|count}} Packages<br>
<b>Repositories:</b>
<ul>
{% for repo, repo_stats in (stats.items()|sort) %}
  <li><a href="{{repo}}/index.html">{{repo}}: {{repo_stats}} packages</a></li>
{% endfor %}
</ul>

{% if packages %}
{{ package_macros.overview_table(packages, branch=branch, src_dir=parent_path) }}
{% else %}
<h2>Error: no packages found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
