{% extends '_generated.html.j2' %}
{% import 'packages/_packages.html.j2' as package_macros %}

{% set parent_path = '' | currentpath() | dirname %}
{% set branch = parent_path | basename %}
{% set packages =  ('templates/%s/branch_flat.json' % parent_path) | json_loader(true, {}) %}
{% set stats = ('templates/%s/stats_architectures.json' % parent_path) | json_loader(true, {}) %}
{% block body %}
<h1>Branch "{{branch.capitalize()}}" Packages</h1>
Branch: <b>{{branch}} <a href="../index.html">↑</a></b>, {{branch_packages|count}} Packages<br>
<b>Architectures:</b>
<ul>
{% for arch, arch_stats in (stats.items()|sort) %}
  <li><a href="{{arch}}/index.html">{{arch}}: {{arch_stats.repos | count}} repos, {{arch_stats.packages}} packages</a></li>
{% endfor %}
</ul>

{% if packages %}
{{ package_macros.overview_table(packages, branch=branch, src_dir=parent_path) }}
{% else %}
<h2>Error: no packages found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
