{% extends '_generated.html.j2' %}
{% import 'packages/_packages.html.j2' as package_macros %}

{% set parent_path = ('' | currentpath() | dirname) %}
{% set repo_name = parent_path | basename %}
{% set arch = parent_path | dirname | basename %}
{% set branch = parent_path | dirname(2) | basename %}
{% set packages = ('templates/' + parent_path + '/packages.json') | json_loader(true, {}) %}


{% block body %}
<h1>Repo "{{repo_name.capitalize()}}": Packages</h1>
Branch: <b><a href="{{('packages/%s'%branch)|relpath_to}}/index.html">{{branch}}</a></b>, Arch: <b><a href="{{('packages/%s/%s'%(branch,arch))|relpath_to}}/index.html">{{arch}}</a></b>, Repository: <b>{{repo_name}}</b>, {{packages|count}} Packages<br>
{% if packages %}
{{ package_macros.overview_table(packages, branch=branch, src_dir=parent_path) }}
{% else %}
<h2>Error: no packages found.</h2>
Seems like the export didn't work. :/
{% endif %}

{% endblock %}
